{
    "openapi": "3.0.1",
    "info": {
        "title": "Selling Partner API for Services",
        "description": "With the Services API, you can build applications that help service providers get and modify their service orders.",
        "contact": {
            "name": "Selling Partner API Developer Support",
            "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
        },
        "license": {
            "name": "Apache License 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://sellingpartnerapi-na.amazon.com/"
        }
    ],
    "paths": {
        "/service/v1/serviceJobs/{serviceJobId}": {
            "get": {
                "tags": [
                    "service"
                ],
                "description": "Gets service job details for the service job indicated by the service job identifier you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 20 | 40 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
                "operationId": "getServiceJobByServiceJobId",
                "parameters": [
                    {
                        "name": "serviceJobId",
                        "in": "path",
                        "description": "A service job identifier.",
                        "required": true,
                        "schema": {
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {}
                                },
                                "response": {
                                    "payload": {}
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    }
                                },
                                "response": {
                                    "payload": {}
                                }
                            }
                        ]
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity. Unable to process the contained instructions.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/service/v1/serviceJobs/{serviceJobId}/cancellations": {
            "put": {
                "tags": [
                    "service"
                ],
                "description": "Cancels the service job indicated by the service job identifier you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
                "operationId": "cancelServiceJobByServiceJobId",
                "parameters": [
                    {
                        "name": "serviceJobId",
                        "in": "path",
                        "description": "An Amazon defined service job identifier.",
                        "required": true,
                        "schema": {
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "cancellationReasonCode",
                        "in": "query",
                        "description": "A cancel reason code that specifies the reason for cancelling a service job.",
                        "required": true,
                        "schema": {
                            "maxLength": 100,
                            "minLength": 1,
                            "pattern": "^[A-Z0-9_]*$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "V1"
                                        }
                                    }
                                },
                                "response": {}
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "nullJobId"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "V1"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "message": "Missing or invalid request parameters: [serviceJobId]",
                                            "code": "InvalidInput"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "NULL"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "message": "Missing or invalid request parameters: [cancellationReasonCode]",
                                            "code": "InvalidInput"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "nullJobId"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "NULL"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "message": "Missing or invalid request parameters: [serviceJobId, cancellationReasonCode]",
                                            "code": "InvalidInput"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "unauthorizedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "V1"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "UnauthorizedAction",
                                            "message": "Not authorized to access this resource.Please check your input again"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {}
                                },
                                "response": {}
                            }
                        ]
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity. Unable to process the contained instructions",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "completedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "V1"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Job with jobId completedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut and jobStatus COMPLETED cannot be cancelled"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "INV1"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Received invalid input reason code IV1 for jobId validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        },
                                        "cancellationReasonCode": {
                                            "value": "V1"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Job not found for jobId invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/service/v1/serviceJobs/{serviceJobId}/completions": {
            "put": {
                "tags": [
                    "service"
                ],
                "description": "Completes the service job indicated by the service job identifier you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
                "operationId": "completeServiceJobByServiceJobId",
                "parameters": [
                    {
                        "name": "serviceJobId",
                        "in": "path",
                        "description": "An Amazon defined service job identifier.",
                        "required": true,
                        "schema": {
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    }
                                },
                                "response": {}
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "nullJobId"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "message": "Missing or invalid request parameters: [serviceJobId]",
                                            "code": "InvalidInput"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "unauthorizedJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "UnauthorizedAction",
                                            "message": "Not authorized to access this resource.Please check your input again"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity. Unable to process the contained instructions",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "cancelledJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Operation not allowed on job with jobId : cancelledJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut and jobState : CANCELLED"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Job not found for jobId invalidJobId-48b6d5a3-b708-dbe9-038d-dd95e8d74iut"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompleteServiceJobByServiceJobIdResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/service/v1/serviceJobs": {
            "get": {
                "tags": [
                    "service"
                ],
                "description": "Gets service job details for the specified filter query.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 40 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
                "operationId": "getServiceJobs",
                "parameters": [
                    {
                        "name": "serviceOrderIds",
                        "in": "query",
                        "description": "List of service order ids for the query you want to perform.Max values supported 20. ",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 20,
                            "minItems": 1,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "serviceJobStatus",
                        "in": "query",
                        "description": "A list of one or more job status by which to filter the list of jobs.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "NOT_SERVICED",
                                    "CANCELLED",
                                    "COMPLETED",
                                    "PENDING_SCHEDULE",
                                    "NOT_FULFILLABLE",
                                    "HOLD",
                                    "PAYMENT_DECLINED"
                                ],
                                "x-docgen-enum-table-extension": [
                                    {
                                        "value": "NOT_SERVICED",
                                        "description": "Jobs which are not serviced."
                                    },
                                    {
                                        "value": "CANCELLED",
                                        "description": "Jobs which are cancelled."
                                    },
                                    {
                                        "value": "COMPLETED",
                                        "description": "Jobs successfully completed."
                                    },
                                    {
                                        "value": "PENDING_SCHEDULE",
                                        "description": "Jobs which are pending schedule."
                                    },
                                    {
                                        "value": "NOT_FULFILLABLE",
                                        "description": "Jobs which are not fulfillable."
                                    },
                                    {
                                        "value": "HOLD",
                                        "description": "Jobs which are on hold."
                                    },
                                    {
                                        "value": "PAYMENT_DECLINED",
                                        "description": "Jobs for which payment was declined."
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "String returned in the response of your previous request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "A non-negative integer that indicates the maximum number of jobs to return in the list, Value must be 1 - 20. Default 20. ",
                        "schema": {
                            "maximum": 20,
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "sortField",
                        "in": "query",
                        "description": "Sort fields on which you want to sort the output.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JOB_DATE",
                                "JOB_STATUS"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "JOB_DATE",
                                    "description": "Sort on job date."
                                },
                                {
                                    "value": "JOB_STATUS",
                                    "description": "Sort on job status."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "JOB_DATE",
                                "description": "Sort on job date."
                            },
                            {
                                "value": "JOB_STATUS",
                                "description": "Sort on job status."
                            }
                        ]
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Sort order for the query you want to perform.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "x-docgen-enum-table-extension": [
                                {
                                    "value": "ASC",
                                    "description": "Sort in ascending order."
                                },
                                {
                                    "value": "DESC",
                                    "description": "Sort in descending order."
                                }
                            ]
                        },
                        "x-docgen-enum-table-extension": [
                            {
                                "value": "ASC",
                                "description": "Sort in ascending order."
                            },
                            {
                                "value": "DESC",
                                "description": "Sort in descending order."
                            }
                        ]
                    },
                    {
                        "name": "createdAfter",
                        "in": "query",
                        "description": "A date used for selecting jobs created after (or at) a specified time must be in ISO 8601 format. Required if LastUpdatedAfter is not specified.Specifying both CreatedAfter and LastUpdatedAfter returns an error. ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "A date used for selecting jobs created before (or at) a specified time must be in ISO 8601 format. ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastUpdatedAfter",
                        "in": "query",
                        "description": "A date used for selecting jobs updated after (or at) a specified time must be in ISO 8601 format. Required if createdAfter is not specified.Specifying both CreatedAfter and LastUpdatedAfter returns an error. ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastUpdatedBefore",
                        "in": "query",
                        "description": "A date used for selecting jobs updated before (or at) a specified time must be in ISO 8601 format. ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scheduleStartDate",
                        "in": "query",
                        "description": "A date used for filtering jobs schedule after (or at) a specified time must be in ISO 8601 format. schedule end date should not be earlier than schedule start date. ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scheduleEndDate",
                        "in": "query",
                        "description": "A date used for filtering jobs schedule before (or at) a specified time must be in ISO 8601 format. schedule end date should not be earlier than schedule start date. ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marketplaceIds",
                        "in": "query",
                        "description": "Used to select jobs that were placed in the specified marketplaces. ",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "maxItems": 1,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {}
                                },
                                "response": {
                                    "payload": {
                                        "totalResultSize": 1,
                                        "nextPageToken": "merchantSklktoreIdbcdcd2ad-5883-4e48-b114-f13328a9e9f",
                                        "previousPageToken": "merchantSklktoreIdbcdcd2ad-5883-4e48-b114-f13328a9e9f",
                                        "jobs": [
                                            {
                                                "serviceOrderId": "2345324",
                                                "serviceJobId": "34534399990035",
                                                "createTime": "2019-12-11T14:49:53.952Z",
                                                "serviceJobStatus": "COMPLETED",
                                                "buyer": {
                                                    "name": "nameExample"
                                                },
                                                "appointments": [
                                                    {
                                                        "appointmentId": "appointmentIdExample",
                                                        "appointmentStatus": "COMPLETED",
                                                        "appointmentTime": {
                                                            "startTime": "2020-01-31T06:38:56.961Z",
                                                            "durationInMinutes": 60
                                                        },
                                                        "assignedTechnicians": [
                                                            {
                                                                "technicianId": "technicianIdExample",
                                                                "name": "nameExample"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "createdAfter": {
                                            "value": "TEST_CASE_400"
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Invalid Input"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetServiceJobsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/service/v1/serviceJobs/{serviceJobId}/appointments": {
            "post": {
                "tags": [
                    "service"
                ],
                "description": "Adds an appointment to the service job indicated by the service job identifier you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
                "operationId": "addAppointmentForServiceJobByServiceJobId",
                "parameters": [
                    {
                        "name": "serviceJobId",
                        "in": "path",
                        "description": "An Amazon defined service job identifier.",
                        "required": true,
                        "schema": {
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Add appointment operation input details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddAppointmentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "appointmentId": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z",
                                                    "durationInMinutes": 60
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "appointmentId": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "nullJobId"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z",
                                                    "durationInMinutes": 60
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Missing or invalid request parameters: [serviceJobId]"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "403": {
                        "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "unauthorizedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "UnauthorizedAction",
                                            "message": "Not authorized to access this resource. Please check your input again."
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "404": {
                        "description": "The resource specified does not exist.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "The request size exceeded the maximum accepted size.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "The request payload is in an unsupported format.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity. Unable to process the contained instructions",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000+05:30"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "ISO8601 time 2021-01-01T10:00:00.000+05:30 is not in UTC."
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10-00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Failed to parse ISO8601 input: 2021-01-01T10-00:00.000Z"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "invalidJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "No job exist with jobId : invalidJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "completedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Operation not allowed on job with jobId : completedJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468 and jobState : COMPLETED"
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "withActiveAppointmentJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Failed to add appointment for jobId : withActiveAppointmentJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Job already has an active appointmentId."
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2019-01-01T10:00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Start time of appointment should be in the future."
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2022-01-01T10:00:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Start time for appointment is beyond the maximum allowed period of 365 days."
                                        }
                                    ]
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:15:00.000Z"
                                                }
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "errors": [
                                        {
                                            "code": "InvalidInput",
                                            "message": "Failed to add appointment for jobId : validJobId-9cb9bc29-3d7d-5e49-5709-efb693d34468, reason : Appointment slot is not available."
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "429": {
                        "description": "The frequency of requests was greater than allowed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Encountered an unexpected condition which prevented the server from fulfilling the request.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Temporary overloading or maintenance of the server.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/service/v1/serviceJobs/{serviceJobId}/appointments/{appointmentId}": {
            "post": {
                "tags": [
                    "service"
                ],
                "description": "Reschedules an appointment for the service job indicated by the service job identifier you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 20 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
                "operationId": "rescheduleAppointmentForServiceJobByServiceJobId",
                "parameters": [
                    {
                        "name": "serviceJobId",
                        "in": "path",
                        "description": "An Amazon defined service job identifier.",
                        "required": true,
                        "schema": {
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "appointmentId",
                        "in": "path",
                        "description": "An existing appointment identifier for the Service Job.",
                        "required": true,
                        "schema": {
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Reschedule appointment operation input details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RescheduleAppointmentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        },
                        "x-amazon-spds-sandbox-behaviors": [
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "appointmentId": {
                                            "value": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z"
                                                },
                                                "rescheduleReasonCode": "R1"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "appointmentId": "validJobId-1-9cb9bc29-3d7d-5e49-5709-efb693d34468_new_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "appointmentId": {
                                            "value": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z",
                                                    "durationInMinutes": 60
                                                },
                                                "rescheduleReasonCode": "R1"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "appointmentId": "validJobId-2-9cb9bc29-3d7d-5e49-5709-efb693d34468_new_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                                }
                            },
                            {
                                "request": {
                                    "parameters": {
                                        "serviceJobId": {
                                            "value": "validJobId-3-9cb9bc29-3d7d-5e49-5709-efb693d34468"
                                        },
                                        "appointmentId": {
                                            "value": "validJobId-3-9cb9bc29-3d7d-5e49-5709-efb693d34468_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a"
                                        },
                                        "body": {
                                            "value": {
                                                "appointmentTime": {
                                                    "startTime": "2021-01-01T10:00:00.000Z",
                                                    "durationInMinutes": 60
                                                },
                                                "rescheduleReasonCode": "R1"
                                            }
                                        }
                                    }
                                },
                                "response": {
                                    "appointmentId": "validJobId-3-9cb9bc29-3d7d-5e49-5709-efb693d34468_new_00b9d5f2-839d-c13e-b8cd-dae1c3995b2a",
                                    "warnings": [
                                        {
                                            "code": "RESOURCES_UNASSIGNED",
                                            "message": "Unassigned resources : ATechnicianId,BTechnicianId"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                    "400": {
                        "description": "Request has missing or invalid parameters and cannot be parsed.",
                        "headers": {
                            "x-amzn-RequestId": {
                                "description": "Unique request reference identifier.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetAppointmentResponse"
                                }
                            }
                        },
[...]
