"""
{{ data.openapi_data.info.title }}
=============================================================================================

{{ data.openapi_data.info.description }}
API Version: {{ data.openapi_data.info.version }}
Contact Amazon: {{ data.openapi_data.info.contact.name }} {% if data.openapi_data.info.contact.email %}<{{ data.openapi_data.info.contact.email }}> {% endif %}{{ data.openapi_data.info.contact.url }}
License for the OpenAPI file: {{ data.openapi_data.info.license.name }} {{ data.openapi_data.info.license.url }}
"""
import attrs
from ..utils.base_client import BaseClient
from ..utils.base_object import BaseObject
from typing import Any, List, Dict, Union, Literal, Optional
from datetime import date, datetime

{% for schema in data.schemas %}
    {% if schema.type == 'object' %}
@attrs.define(kw_only=True,frozen=True,slots={% if schema.additionalProperties %}False{% else %}True{% endif %})
class {{ schema.name }}(BaseObject):
    {% if schema.parsed_description %}"""
{{ schema.parsed_description }}
    """
    {% endif %}

    {% for p in schema.parsed_properties %}
    {{ p.variable_name }}: {% if p.name in schema.required %}{{ p.type_hint }}{% else %}Optional[{{ p.type_hint }}]{% endif %} = attrs.field(

        {# default value #}
        default=
            {% if p.name in schema.required %}
                None
            {% else %}
                {{ p.default }}
            {% endif %},
        )
    {% if p.parsed_description or p.extra_fields %}"""{% if p.parsed_description %}
{{ p.parsed_description }}{% endif %}{% if p.extra_fields %}

    Extra fields:
    {{ p.extra_fields }}{% endif %}
    """
        {% endif %}
    {% endfor %}

    {% if not schema.properties %}
    pass
    {% endif %}

    _attrs_config = {{ schema.attrs_config }}
    {% endif %}
{% endfor %}


class {{ data.class_name }}Client(BaseClient):
{% for operation in data.operations %}
    def {{ operation.method_name }}(self,
        {% for param in operation.parsed_parameters %}
            {% if param.required %}
            {{ param.variable_name }}: {{ param.type_hint }}{% if not param.required %}=None{% endif %},
            {% endif %}
        {% endfor %}
        {% for param in operation.parsed_parameters %}
            {% if not param.required %}
            {{ param.variable_name }}: {{ param.type_hint }}{% if not param.required %}=None{% endif %},
            {% endif %}
        {% endfor %}
    ) -> {{ operation.result_type }}:
        """
{{ operation.parsed_description }}

Args:
{% for param in operation.parsed_parameters %}{{ param.parsed_description }}
{% endfor %}
"""
        url = "{{ operation.path }}"
        values = ({% for p in operation.parsed_parameters %}{{ p.variable_name }},{% endfor %})
        response = self._parse_args_and_request(url, '{{ operation.method | upper }}', values,
        self._{{ operation.method_name }}_params,
        self._{{ operation.method_name }}_responses,
    )
        return response
    _{{ operation.method_name }}_params = ( # name, param in
        {% for p in operation.parsed_parameters %}
            ("{{ p.name }}", "{{ p.param_in }}"),{% endfor %}
    )

    _{{ operation.method_name }}_responses = {
    {% for response in operation.parsed_responses %}
        {{ response.status_code }}: {{ response.type_hint }},
    {% endfor %}
    }

{% endfor %}
    pass