"""
{{ data.data.info.title }}
=============================================================================================

{{ data.data.info.description }}
API Version: {{ data.data.info.version }}
Contact Amazon: {{ data.data.info.contact.name }} {% if data.data.info.contact.email %}<{{ data.data.info.contact.email }}> {% endif %}{{ data.data.info.contact.url }}
License for the OpenAPI file: {{ data.data.info.license.name }} {{ data.data.info.license.url }}
"""
import attrs
from ..utils.base_client import BaseClient
from typing import Any, List, Dict, Union, Literal
from datetime import date, datetime


{% for schema in data.schemas %}
@attrs.define
class {{ schema.name }}:
    {% if schema.description %}"""
    {{ schema.description }}
    """
    {% endif %}

    {% for property in schema.all_properties %}
    {{ property.variable_name }}: {{ property.type_hint }} = attrs.field(
        kw_only=True,
        )
    {% if property.parsed_description or property.fields %}"""{% if property.parsed_description %}
    {{ property.parsed_description }}{% endif %}{% if property.fields %}

    Extra fields:
    {{ property.fields }}{% endif %}
    """
        {% endif %}
    {% endfor %}

    {% if not schema.properties %}
    pass
    {% endif %}
{% endfor %}

class {{ data.class_name }}Client(BaseClient):
{% for operation in data.operations %}
    def {{ operation.method_name }}(self,
        {% for param in operation.parsed_parameters %}
            {% if param.required %}
            {{ param.variable_name }}: {{ param.type_hint }}{% if not param.required %}=None{% endif %},
            {% endif %}
        {% endfor %}
        {% for param in operation.parsed_parameters %}
            {% if not param.required %}
            {{ param.variable_name }}: {{ param.type_hint }}{% if not param.required %}=None{% endif %},
            {% endif %}
        {% endfor %}
    ):
        """
{{ operation.description }}

Args:
    {% for param in operation.parsed_parameters %}{{ param.variable_name }}: {% if param.parsed_description %}{{ param.parsed_description }}{% else %}no description.{% endif %}
    {% endfor %}
"""
        url = "{{ operation.path }}"
        values = ({% for p in operation.parsed_parameters %}{{ p.variable_name }},{% endfor %})
        response = self._parse_args_and_request(url, '{{ operation.method | upper }}', values, self._{{ operation.method_name }}_params)
        return response
    _{{ operation.method_name }}_params = ( # name, param in
        {% for p in operation.parsed_parameters %}
            ("{{ p.name }}", "{{ p.param_in }}"),{% endfor %}
    )

{% endfor %}